name: Test
on: [push, pull_request]
jobs:
  test:
    strategy:
      matrix:
        ruby: [3.2, 3.3, 3.4, jruby]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: setup gems
      run: bundle install --jobs 4 --retry 3
    - name: run test
      run: bundle exec rake spec
    - if: runner.os == 'Linux' && matrix.ruby == '3.4'
      uses: joshmfrankel/simplecov-check-action@1.0.0
      with:
        github_token: ${{ secrets.CI_TOKEN }}
